{% extends 'layout.html.twig' %}

{% block main %}
<div class="container">
    <h1>Categories</h1>

    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item">
                <span class="badge">{{ category.videos | length }}</span>
                <a href="{{ path('app.category.read', {category: category.id}) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
