{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block main %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="content">
                <h1>Welcome to rust-videos.com</h1>
                <p>You will find all kind of videos: base designs, gameplay, tips and tricks, etc.</p>
            </div>
            <p>
                <a class="btn btn-primary btn-lg" href="{{ path('app.video') }}" role="button">Browse videos &raquo;</a>
                <a class="btn btn-success btn-lg" href="{{ path('app.video.create') }}" role="button">Add a video &raquo;</a>
            </p>
        </div>
    </div>

    <div class="container">
        <h2>Latest videos</h2>

        <div class="row">
            {% for video in videos %}
                <div class="col-md-4">
                    {% include 'video/widget-simple.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
