html {
  min-height: 100%;
  position: relative;

  body {
    padding-top: 90px;
    margin-bottom: 60px;

    h1 {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }

    .jumbotron {
      background: url('../img/banner-01.jpg') center center;
      color: #fff;


      .content {
        text-shadow: 2px 2px #000;
      }
    }

    .favorite-trigger {
      .disabled {
        color: #ddd;
      }
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 20px 0;

      border-top: 1px solid rgba(0, 0, 0, 0.1);
      color: #58666e;
      background-color: #eaeaea;
    }
  }
}
