{% extends '::layout.html.twig' %}

{% block main %}
    <div class="main">

        <div class="container">
            <h1>Bookmarks</h1>

            <div class="row">
                {% for bookmark in bookmarks %}
                    <div class="col-md-4">
                        {% include '@App/Video/widget-simple.html.twig' with {'video': bookmark.video} %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
