{% extends '::layout.html.twig' %}

{% block main %}
    <div class="main">

        <div class="container">
            <h1>Profile</h1>

            <div class="row">

            </div>
        </div>

    </div>
{% endblock %}
